# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets
.env*
*.p8
.asc-state.json

# macOS
.DS_Store
